iflow/common/src/main/resources/xml-schemas/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">

  <xs:element name="CompanyEdo" type="companyEdo"/>

  <xs:complexType name="companyEdo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:long"/>
      <xs:element minOccurs="0" name="IdentifyId" type="xs:string"/>
      <xs:element minOccurs="0" name="CompanyName" type="xs:string"/>
      <xs:element minOccurs="0" name="Status" type="xs:int"/>
      <xs:element minOccurs="0" name="Version" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
